{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard_base.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard_finance.css' %}">
{% endblock %}

{% block content %}
<!-- START: FEE_TYPE_DELETE_CONFIRM_SECTION -->

<div class="dashboard-wrapper">

    <div>

        <div>

            <div>
                ⚠️
            </div>


            <h2>
                Delete Fee Type?
            </h2>


            <p>
                You are about to permanently delete:
            </p>


            <p>
                {{ fee_type.name }}
            </p>


            <p>
                Amount: ${{ fee_type.amount }}
            </p>



            <div>

                <p>
                    ⚠️ Warning: All fee payments linked to this fee type will also be deleted!
                </p>

            </div>



            <div>


                <form method="POST">

                    {% csrf_token %}

                    <button type="submit" id="confirm_fee_type_delete_btn">
                        🗑️ Yes, Delete
                    </button>

                </form>



                <a href="{% url 'admin_panel:finance_fees' %}" id="cancel_fee_type_delete">
                    Cancel
                </a>


            </div>


        </div>


    </div>


</div>


<!-- END: FEE_TYPE_DELETE_CONFIRM_SECTION -->

{% endblock %}