{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard_base.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard_teachers.css' %}">
<link rel="stylesheet" href="{% static 'css/weekly_timetable.css' %}">
{% endblock %}

{% block content %}
<!-- START: WEEKLY_TIMETABLE_CONTENT -->
<div class="dashboard-wrapper">
    <div class="timetable-container">
        <div class="timetable-header">
            <h2><i class="fas fa-calendar-week"></i> Weekly Timetable</h2>
        </div>

        <div class="timetable-scroll">
            <table class="timetable-table">
                <thead>
                    <tr>
                        <th>Day / Time</th>
                        <th>09:00 - 09:45</th>
                        <th>09:45 - 10:30</th>
                        <th>10:30 - 11:15</th>
                        <th>11:15 - 12:00</th>
                        <th>12:00 - 12:45</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Monday</th>
                        <td>
                            <div class="subject-block">Math</div>
                            <div class="class-info">Class 10-A</div>
                        </td>
                        <td>-</td>
                        <td>
                            <div class="subject-block">Physics</div>
                            <div class="class-info">Class 9-B</div>
                        </td>
                        <td>-</td>
                        <td>
                            <div class="subject-block">Science</div>
                            <div class="class-info">Class 8-A</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Tuesday</th>
                        <td>-</td>
                        <td>
                            <div class="subject-block">Math</div>
                            <div class="class-info">Class 10-A</div>
                        </td>
                        <td>-</td>
                        <td>
                            <div class="subject-block">Physics</div>
                            <div class="class-info">Class 9-B</div>
                        </td>
                        <td>-</td>
                    </tr>
                    <!-- More days can be added here -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END: WEEKLY_TIMETABLE_CONTENT -->
{% endblock %}

