{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/parent_modules.css' %}">
{% endblock %}

{% block content %}
<!-- START: CANTEEN_MENU -->
<div class="parent-module-container">
    <h2 class="module-header-title"><i class="fas fa-utensils"></i> Canteen Menu</h2>
    <div class="module-content">
        <p>View the weekly canteen menu and nutritional information.</p>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Main Meal</th>
                    <th>Snacks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- END: CANTEEN_MENU -->
{% endblock %}
