{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-wrapper">
    <div class="edit-container">
        <h2 class="edit-title">Edit Exam</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Exam Name</label>
                <input type="text" name="name" required class="form-control" value="{{ exam.name }}">
            </div>
            <div class="form-group">
                <label>Year</label>
                <input type="text" name="year" required class="form-control" value="{{ exam.year }}">
            </div>
            <div>
                <input type="checkbox" name="is_active" id="is_active" {% if exam.is_active %}checked{% endif %}>
                <label for="is_active">Is Active?</label>
            </div>
            <div class="btn-container">
                <a href="{% url 'admin_panel:exam_list' %}" class="btn-cancel">Cancel</a>
                <button type="submit" class="btn-submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}