{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-wrapper">
    <div class="section-header">
        <h1>{% if group %}Edit{% else %}Add{% endif %} Group</h1>
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}

            <div>
                <input type="text" name="name" value="{{ group.name }}" required placeholder="Group Name">

                <button type="submit" class="view-all-btn">
                    <i class="fas fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}